.about-us-description{
  @media (min-width: $xl) {
    display: inline-block;
    width: 49%;
    margin-bottom: 50px;
    margin-right: 100px;
  }
}

.about-us-bg{
  @media (min-width: $sm) {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
  @media (min-width: $xl) {
    display: inline-block;
    width: calc(50% - 100px);
  }
}