$white: #ffffff;
$bg-dark-color: radial-gradient(132.74% 177.34% at 11.03% -22.7%, #2459FD 0.4%, #204EE4 6.06%, #193AB8 17.23%, #132992 28.92%, #0E1B74 41.01%, #0B115C 53.63%, #08094B 67.01%, #060441 81.66%, #06033E 100%), #C4C4C4;
$gradient-pink: linear-gradient(98.41deg, #AD33F6 0%, #D363A5 50.69%, #E39469 100%);
$purple: #8118FA;
$blue: #3E16C3;
$gray-light: #EDEDED;
$orange: #FFA36E;


$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1500px;